{% extends "layout.html" %}
{% load static %} 
{% block contact_style %}
<link rel="stylesheet" href="{% static 'styles/contact.css' %}" />
{% endblock %} {% block contact %}

 <!-- jqery -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
 integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
 crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<section class="contact">
  <div class="main">
    <h1>Contact Us</h1>
    <div class="messaging">
      <form method="post" id="myForm" >
        {% csrf_token %}
        <div class="info1">
          <div>
            <label for="name">Your Name</label>
            <!-- <input type="text" name="name" placeholder="Full Name" /> -->
            {{ form.full_name }}

          </div>
          <div>
            <label for="email">Email Address</label>
            <!-- <input type="text" name="email" placeholder="Email Address" /> -->
            {{ form.email }}

          </div>
          <div>
            <label for="phone">Phone</label>
            <!-- <input type="text" name="phone" placeholder="Phone Number" /> -->
            {{ form.phone }}
          </div>
          <div>
            <label for="company">Company</label>
            <!-- <input type="text" name="company" placeholder="Company" /> -->
            {{ form.company }}

          </div>
        </div>
        <div class="comment">
          <label for="message">Message</label>
          <!-- <textarea name="message" placeholder="Type Message" id=""></textarea> -->
          {{ form.message }}
          <p id="message" style="display: none; color: #fff; font-size: 16px;"></p>
          <input type="submit" value="send message" id="message-submit" />
        </div>
      </form>
    </div>
    <!-- <div class="info">
      <div class="company-addr">
        <i class="fa-solid fa-location-dot"></i>
        <p>
          Km 49 Lagos - Ibadan Expressway, after Redeem Camp Keita Village, Ogun
          State.
        </p>
      </div>
      <div class="info-email">
        <h4>Email Address</h4>
        <a href="#">info@shanfengcoltd.com</a>
      </div>
      <div class="info-phone">
        <h4>Phone Number</h4>
        <p>09161350728, 08147183678</p>
        <div class="info-whatsapp">
          <a href="/"><i class="fa-solid fa-message"></i></a>
          <a href="/">Chat us now</a>
        </div>
      </div>
    </div>
  </div> -->
</section>

<script src="{% static 'scripts/home.js' %}"></script>

{% block message %}{% endblock %}

{% endblock %}
