<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- email css -->
    <link rel="stylesheet" href="/static/styles/email.css" />

    <title>Email</title>
</head>

<body>
    <div class="main">
        <div class="logo">
            <!-- <img src="/static/images/logo.jpg" alt="shan feng company's logo" /> -->
            <img src="{% static 'images/logo.jpg' %}" alt="Logo" style="max-width: 100%; height: auto;">
    </div>
            <h2 style="color: brown; font-size: 16px;">Shan feng tire repair company</h2>
        </div>
    
        <h3>Receive message from:</h3>
        <p style="color: blue;"><span>Name:</span> {{ name }}</p>
        <p><span>Email:</span> {{ email }}</p>
        <p><span>Company:</span> {{ company }}</p>
        <br>
        <hr><br>
    
        <p><span>Message:</span> <br><br> {{ message }}</p>
    </div>

</body>

</html>