<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body>
    <h3>Received message from:</h3>
    <p><span>Name:</span> {{ full_name }}</p>
    <p><span>Email:</span> {{ email }}</p>
    <p><span>Phone:</span> {{ phone }}</p>
    <p><span>Company:</span> {{ company }}</p>
    <br>
    <hr>

    <p><span>Message:</span> <br><br> {{ message }}</p>
    </div>
    </div>
</body>

</html>